<div class="container" style="font-size: 30px;">
    <div class="row">
        <div class="col-md-3">FirstName: {{student.firstName}}</div>
        <div class="col-md-3">LastName: {{student.lastName}}</div>
        <div class="col-md-3">Group: {{student.group}}</div>
        <div class="col-md-3">Course: {{student.course}}</div>
    </div>
</div>